<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- لو الموقع ما اشتغلش: خلّي stdoutLogEnabled="true" وشوف ملفات logs\stdout -->
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%"
                  stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <!-- 60 م.ب لرفع المرفقات -->
          <requestLimits maxAllowedContentLength="62914560" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
